*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lightslategray;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    background-image: url(./Images/istockphoto-836661344-612x612.jpg);
    width: 45rem;
    height: 55vh;
    background-size: cover;
    background-position: center; 
}

.wrapper{
    margin: 2.5rem;
    margin-top: 3.5rem;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 65px;
    margin-bottom: 15px;
    color: rgb(253, 0, 0);
}

p{
    font-size: 1.56rem;
    margin: 10px 0;
    font-style: italic;
    font-weight: bold;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}


@media screen and (max-width: 500px) {
    body{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .container{
        min-width: 20rem;
        height: 35vh;
    }
    .wrapper{
        margin: 1rem;
    }
    h1 {
        font-size: 30px;
    }
    h2{
        font-size: 45px;
    }
    p{
        font-size: 1.2rem;
    }
 
}